FILTERS:
  Location: Amsterdam
  Max_price: 500000
PLUGINS:
  funda: true
  hoitink: true
  marcel_kon: true
  schakel: true
  teamsanders: true
  weusthuis: true
TELEGRAM:
  API_KEY: BOTTOKEN_HERE
  LIST_OF_ADMINS:
  - USERID_HERE
  USERID: USERID_HERE
